.close-btn {
    width: 10px;
    font-size: 30px;
    color: #ccc;
}

.close-btn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
}

.instruction, .answer, .subquestion {
    width: 100%;
}

.answer {
    /* background: repeating-linear-gradient(0, #000, #fff 1px, #fff 1px, #fff 21px); */
}


.checkmark {
    height: 25px;
    width: 25px;
}