:root {
  --lightBackround: white;
  --darkBackround: rgb(73, 79, 82);
}

.App {
  text-align: center;
}

.container {
  margin-top: 4%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: var(--darkBackround);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.form-control {
  margin-bottom: -20px;
}