.close-btn {
    width: 10px;
    font-size: 30px;
    color: #ccc;
}

.close-btn:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    resize: none;
    overflow: hidden;
    width: 90%;
}

.instruction, .answer, .subquestion {
    width: 100%;
}

.answer {
    /* background: repeating-linear-gradient(0, #000, #fff 1px, #fff 1px, #fff 21px); */
}

.input-group {
    margin-bottom: 2vh;
}

.card-bot {
    margin-bottom: 4vh;
}

.points-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    box-sizing: border-box;
    font-size: 20px;
    width: 40px;
    padding: 2px 0px;
    position: relative; 
}

.points-input:focus {
    outline: none;
}

.points-input:hover {
    color: #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    font-size: 20px;
    display: block;
    text-align: center;
    padding-right: 10px;
    text-decoration: none;
}
